.july {
  margin: 10px;
  background-color: rgba(68, 68, 68, 0.733);
  width: 340px;
  padding: 10px;
  border-radius: 4px;
}

.header {
  font-size: x-large;
  margin-bottom: 20px;
}

.weekBox {
  display: flex;
  gap: 10px;
  font-size: larger;
  margin-bottom: 10px;
}

.week {
  width: 40px;
  text-align: center;
  background-color: rgb(12, 93, 5);
  border-radius: 4px;
}

.dayBox {
  display: flex;
  gap: 10px;
  font-size: larger;
  flex-wrap: wrap;
}

.cDay {
  width: 40px;
  text-align: center;
  background-color: white;
  color: black;
  border-radius: 4px;
}

.day {
  width: 40px;
  text-align: center;
  background-color: rgb(20, 127, 10);
  border-radius: 4px;
}

.emptyBox {
  display: flex;
  gap: 10px;
  font-size: larger;
  flex-wrap: wrap;
}

.empty {
  width: 40px;
  text-align: center;
  background-color: rgb(20, 127, 10);
  border-radius: 4px;
}
